* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
}

header {
    background-color: darkolivegreen;
    padding: 24px;
}

#book-container {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 24px;
}

.book-card {
    border: 1px darkgrey solid;
    border-radius: 5px;
}

dialog {
    margin: auto;
    background-color: slategrey;

}

dialog::backdrop {
    background-color: lightgray;
    opacity: 0.75;
}

button {
    padding: 8px;
    font-size: medium;
    border-radius: 5px;
}

#addBtn,
.add-book {
    background-color: darkolivegreen;
    color: white;
    border: solid darkolivegreen 1px;
}

.update-btn {
    background-color: slategrey;
    padding: 4px;
}

.delete-btn {
    background-color: orangered;
    padding: 4px;
}

.invalid {
    background-color: mediumaquamarine;
    border: 2px dotted blueviolet;
}
